/* ****************************************************************************
GENERAL
**************************************************************************** */





/* ****************************************************************************
NAV
**************************************************************************** */





/* ****************************************************************************
HERO
**************************************************************************** */

.hero {
  background-color: #999;
  padding: 80px 0;
  height: 400px;
}



/* ****************************************************************************
MAIN SECTION
**************************************************************************** */





/* ****************************************************************************
FOOTER
**************************************************************************** */
