/* ****************************************************************************
GENERAL
**************************************************************************** */

.wrap {
  width: 90%;
  max-width: 1100px;
  margin: 0 auto;
}



/* ****************************************************************************
NAV
**************************************************************************** */





/* ****************************************************************************
HERO
**************************************************************************** */

.hero {
  background-color: #999;
  padding: 80px 0;
  height: 400px;
}



/* ****************************************************************************
MAIN SECTION
**************************************************************************** */





/* ****************************************************************************
FOOTER
**************************************************************************** */
